.headerIMG {
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.meeting-card {
  margin-bottom: 1rem;
  list-style-type: none;
}

.suggested-place {
  border: 1px solid black;
  margin-bottom: 1rem;
  list-style-type: none;
}

.invitation-header {
  margin-top: 1.5rem;
}

.invitation-accepted {
  border: var(--fallback-su, oklch(var(--su) / var(--tw-bg-opacity))) 2px solid;
  border-radius: 0;
}

.invitation-pending {
  border: var(--fallback-er, oklch(var(--er) / var(--tw-bg-opacity))) 2px solid;
  border-radius: 0;
}

.invitation-button {
  display: flex;
  justify-content: flex-end;
}

.invitation-buttons > button {
  margin: 1rem;
}

.non-collapsed-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
